<li>
	{{name}}

	<button class="eat-burger" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOUR IT!!!{{else}}You Had This Already!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">BURGER DOWN!</button>
</li>
